/*Fonte*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/*Geral*/
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;    /*Controla o comportamento de rolagem (scroll) de uma página quando um link interno é clicado e a página se move para a âncora correspondente.*/
}
body{
    font-family: 'Poppins', sans-serif;
}
ul{
    list-style: none;
}
p{
    color: gray;
}

/*Transições / animações*/
a, .btn{
    transition: all 300ms ease;
}

/*Navegação para telas grandes*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 17vh;
}
/*Menu de navegação*/
.nav-links{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
a{
    text-decoration: none; 
    color: black;
    font-size: 1.3rem;   
}
a:hover{
    color: gray;
    text-decoration: underline;
    text-decoration-color: gray;
    text-underline-offset: .5rem;   
}
/*Logo*/
.logo{
    font-size: 1.8rem;
    font-weight: 500;
}
.logo:hover{
    cursor: default;
}

/*Navegação hamburger para smartphones*/
#mobile-nav{
    display: none;
}
/*Menu Hamburger*/
.hamburger-menu{
    position: relative;
    display: inline-block;
}
/*Icone*/
.hamburger-icon{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 24px;
    width: 30px;
    cursor: pointer;
}
.hamburger-icon span{
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}
/*Navegação Hamburguer*/
.menu-links{
    position: absolute;
    top: 100%;
    right: 0;
    width: fit-content; /*A largura do elemento se ajusta exatamente ao tamanho do seu conteúdo.*/
    max-height: 0;
    background-color: white;
    overflow: hidden;
}
.menu-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}
.menu-links a:hover{
    color: gray;
    text-decoration: underline;
    text-underline-offset: .5rem;
}
.menu-links li{
    list-style: none;
}

/*Animação do icone Hamburguer*/
.menu-links.open{
    max-height: 300px;
}
.hamburger-icon.open span:first-child{
    transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2){
    opacity: 0;
}
.hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px, -5px);
}
.hamburger-icon span:first-child{
    transform: none;
}
.hamburger-icon span:first-child{
    opacity: 1;
}
.hamburger-icon span:first-child{
    transform: none;
}

/*Sections*/
section{
    padding-top: 4vh;
    height: 100vh;
    box-sizing: border-box;
    min-height: fit-content;
}
.section-container{
    display: flex;
    margin: 0 10rem;
}



/*Navegação para telas pequenas e médias*/
@media screen and (max-width: 1080px) {
    #desktop-nav{
        display: none;
    }
    #mobile-nav{
        display: flex;
    }
}