* {
    margin: 0;
    padding: 0;
}
a {
    color: #fff;
    text-decoration: none;   /*Tira o undeline*/
    font-family: system-ui, -apple-system, 'Open Sans', Arial, sans-serif;
}
#logo {
    font-size: 2rem; 
}
#header {   /*O header inclui a logo e o menu*/
   background-color: black;
    box-sizing: border-box;   /*Faz com que o height e o padding tenha um valor fixo e não somado*/
    height: 70px;
    padding: 1rem;
    display: flex;   /*Fez com que os itens ficassem um ao lado do outro*/
    align-items: center;
    justify-content:space-between;
}
#menu {
    display: flex;
    list-style: none;   /*Tira a bolinha da lista*/
    gap: .5rem;   /*Dá um espaçamento*/
}